@using WebApplication.Models
@model ChatModel
<div id="Users">
    <p><b>Osoby online: @Model.Users.Count</b></p>
    @foreach (ChatUser user in Model.Users)
    {
        <p>@user.Name</p>
    }
</div>

<div id="Messages">



</div>
